# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
*.env

# OS / IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log

# Render build cache
.cache/
tmp/
*.tmp

# Git
.git/
.gitignore
